{% extends 'base.html' %}
{% load static %}


{% block title %}
    Blog
{% endblock title%}


{% block navbar %}
    <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
    <a href="{% url 'article_list' %}" class="nav-item nav-link active">Blog</a>
    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
{% endblock navbar %}


{% block content %}
    <!-- Page Header Start -->
    <div class="container py-5 px-2 bg-primary">
        <div class="row py-5 px-4">
            <div class="col-sm-6 text-center text-md-left">
                <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">My Blog</h1>
            </div>
            <div class="col-sm-6 text-center text-md-right">
                <div class="d-inline-flex pt-2">
                    <h4 class="m-0 text-white"><a class="text-white" href="{% url 'home' %}">Home</a></h4>
                    <h4 class="m-0 text-white px-2">/</h4>
                    <h4 class="m-0 text-white">My Blog</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Blog List Start -->
    <div class="container bg-white pt-5">
        {% for maqola in object_list %}
            <div class="row blog-item px-3 pb-5">
                <div class="col-md-5">
                    {% if maqola.photo %}
                        <img class="img-fluid mb-4 mb-md-0" src="{{ maqola.photo.url }}" alt="Image">
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold"> {{ maqola.sarlavha }} </h3>
                    <div class="d-flex mb-3">
                        <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i> {{ maqola.date }} </small>
                        <small class="mr-2 text-muted"><i class="fa fa-user"></i> {{ maqola.muallif }} </small>
                    </div>
                    <p> {{ maqola.qisqa_mazmun }} </p>
                    <a class="btn btn-link p-0" href="{% url 'article_detail' maqola.pk %}">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Blog List End -->
{% endblock content %}
